* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #6533E2;
  height: 672px;
  width: 100%;
}

.firstline {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 133px;
  width: 100%;
  padding: 44px 66px;
}

.button a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  height: 46.51px;
  width: 175.3px;
  border-radius: 60px;
  padding: 25px 69px;
  text-decoration: none;
}

.button-orange {
  background: #FD7B01;
  margin-right: 18px;
}

.button-default {
  background: transparent;
  border: 1px solid #E5E5E5;
}

.introduction {
  display: flex;
  height: 539px;
  margin-left: 10%;
  position: relative;
}

.transform-text {
  color: #E5E5E5;
  font-size: 46px;
  margin-bottom: 61px;
  width: 414px;
}

.introduction-link {
  color: #FFF;
  margin-left: 12px;
}

.button-mentor {
  color: #FD7B01 !important;
  font-weight: bold;
  padding: 20px 8px !important;
}

.box-images img {
  position: absolute;
}

.background1 {
  height: 389px;
  bottom: 0;
  right: 0;
  top: 149px;
  width: 453px;
  z-index: 0;
}

.background2 {
  height: 152px;
  top: 62px;
  left: 675px;
  width: 267px;
  z-index: 1;
}

.backgroundhtml {
  top: 363px;
  right: 417px;
}

.backgroundjs {
  top: 196px;
  right: 406px;
  z-index: 2;
}

.backgroundreact {
  top: 23px;
  right: 80px;
  width: 74px;
  height: 68px;
}

.backgroundangular {
  height: 75px;
  top: 119px;
  right: 0px;
  width: 70px;
  z-index: 3;
}

.backgroundcss {
  top: 84px;
  right: 162px;
  z-index: 4;
}

.event {
  width: 100%;
}

.questions {
  width: 80%;
  margin: 0 auto;
}

.main-question {
  color: #6533E2;
  margin-top: 94px;
  font-size: 50px;
}

.guide-question {
  width: 327px;
  margin-top: 10px;
}

.boxes {
  display: flex;
}

.answer-box {
  width: 581px;
  height: 600px;
  margin-left: 118px;
  margin-top: 64px;
}

.answer {
  width: 581px;
  height: 90px;
  display: flex;
  justify-content: space-around;
}

.notebook {
  width: 90px;
  height: 90px;
}

.text-answer {
  padding-top: 23px;
  margin-top: 5px;
  width: 617px;
  margin-left: 17px;
}

.answer2 {
  margin-top: 5px;
  width: 617px;
  margin-left: 17px;
}

.talk {
  width: 90px;
  height: 90px;
  margin-top: -10px;
  border-radius: 9px;
}

.three {
  margin-left: 29px;
}

.five {
  width: 417px;
}

.group-pic {
  margin-left: 106px;
  margin-top: 164px;
}

.group {
  width: 510px;
  height: 364px;
}

.content {
  position: relative;
  width: 100%;
  height: 251px;
  background: #07BEEF;
  margin-top: 80px;
}

.banner {
  width: 100%;
}

.frame {
  width: 229px;
  height: 244px;
}

.program {
  top: -105px;
  position: absolute;
  left: 93px
}

.database {
  top: -118px;
  position: absolute;
  left: 337px;
  height: 236px;
}

.design {
  position: absolute;
  top: 87px;
  left: 271px;
  height: 236px;
}

.business {
  position: absolute;
  left: 493px;
  top: 82px;
}

.txt-banner {
  position: absolute;
  left: 870px;
  top: 50px;
  color: #6533E2;
}

.txt-banner2 {
  position: absolute;
  top: 116px;
  left: 870px;
}

.help {
  position: relative;
  width: 100%;
  height: 473px;
}

.help-text1 {
  position: absolute;
  top: 155px;
  left: 309px;
  color: #6533E2;
}

.help-text2 {
  position: absolute;
  width: 600px;
  left: 241px;
  top: 238px;
  line-height: 27px;
}

.image-student {
  position: absolute;
  width: 300px;
  left: 880px;
  top: 120px;
  height: 350px;
}

.button-purp {
  position: absolute;
  top: 395px;
  left: 474px;
}

.button-purple {
  background: #6533E2;
  font-size: 14px;
  line-height: 16px;
  height: 46.51px;
  width: 175.3px;
  border-radius: 60px;
  padding: 25px 69px;
  text-decoration: none;
  color: white;
}

.last-banner {
  background-color: #6533E2;
  widows: 100%;
  height: 300px;
}

.contact {
  position: relative;
  height: 270px;
  width: 100%;
  background-color: #6533E2;
  margin-top: -4px;
  display: flex;
}

.mais1cdimg {
  padding-left: 96px;
  padding-top: 37px;
}

.final-contact {
  margin-top: 53px;
  margin-left: 273px;
}

.txt-final {
  font-size: 18px;
  color: white;
}

.mail {
  margin-left: 71px;
  margin-top: 35px;
}

.waiting {
  color: white;
}

.waiting-orange {
  color: #FD7B01;
}

.final-button {
  margin-left: 46px;
  margin-top: 55px;
}

.final-btn {
  font-size: 12px;
  line-height: 16px;
  border-radius: 60px;
  padding: 16px 39px;
  text-decoration: none;
  color: white;
  background: #FD7B01;
}

.line {
  position: absolute;
  top: 122px;
  left: 94px
}

.line-work {
  width: 1175px
}

.click {
  display: flex;
  position: absolute;
  top: 201px;
  left: 113px;
}

.final {
  color: white;
  margin-right: 79px;
  font-size: 15px;
}

.footer {
  display: flex;
  width: 100%;
  height: 73px;
  padding-left: 66px;
}

.icons {
  margin-left: 36px;
  width: 23px;
  height: 23px;
  margin-top: 29px;
}

.footer-txt {
  font-size: 12px;
  margin-left: 559px;
  margin-top: 29px;
}